n8n_form_excel.json
{
  "name": "n8n_form_excel",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Contacto",
        "formDescription": "Deja tus datos de contacto",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Nombre",
              "fieldName": "nombre",
              "requiredField": true
            },
            {
              "fieldLabel": "Correo",
              "fieldType": "email",
              "fieldName": "correo",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        0,
        0
      ],
      "id": "f85036c0-33c0-44d6-8c90-4734c0cfda9a",
      "name": "On form submission",
      "webhookId": "f379ac97-47e3-4712-bb44-df64590885ca"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Recibirás datos de un formulario. Tu tarea es agregar esos datos como una nueva fila \nen la tabla del archivo Excel llamado \"n8n_for\" en Excel.\n\nLos datos del formulario son: {{ JSON.stringify($json) }}\n\nUsá el tool de Excel para hacer Append de los datos en la tabla correspondiente.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "d78fc411-8427-4fbe-a76b-bb919b4bcff7",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        208,
        288
      ],
      "id": "6c290577-f936-405e-909a-df07e023cb6e",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "XuMkGVJYiDCWwZoG",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "resource": "table",
        "workbook": {
          "__rl": true,
          "value": "CFC95E2424E78010!se421be3975ff473cbbbe872bbeea77aa",
          "mode": "list",
          "cachedResultName": "Libro 2",
          "cachedResultUrl": "https://onedrive.live.com/personal/cfc95e2424e78010/_layouts/15/doc.aspx?resid=e421be39-75ff-473c-bbbe-872bbeea77aa&cid=cfc95e2424e78010"
        },
        "worksheet": {
          "__rl": true,
          "value": "{F274FABB-DF5C-4F9E-B98F-F8DC866DADF5}",
          "mode": "list",
          "cachedResultName": "Hoja1",
          "cachedResultUrl": "https://onedrive.live.com/personal/cfc95e2424e78010/_layouts/15/doc.aspx?resid=e421be39-75ff-473c-bbbe-872bbeea77aa&cid=cfc95e2424e78010&activeCell=Hoja1!A1"
        },
        "table": {
          "__rl": true,
          "value": "{866784B2-8E51-4113-8748-1D2647F3C4D7}",
          "mode": "list",
          "cachedResultName": "Tabla2",
          "cachedResultUrl": "https://onedrive.live.com/personal/cfc95e2424e78010/_layouts/15/doc.aspx?resid=e421be39-75ff-473c-bbbe-872bbeea77aa&cid=cfc95e2424e78010&activeCell=Hoja1!A1:B2"
        },
        "fieldsUi": {
          "values": [
            {
              "column": "Email",
              "fieldValue": "={{ $('On form submission').item.json.correo }}"
            },
            {
              "column": "Nombre",
              "fieldValue": "={{ $('On form submission').item.json.nombre }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftExcel",
      "typeVersion": 2.2,
      "position": [
        560,
        0
      ],
      "id": "12784d45-3142-4844-b735-50becfaada5d",
      "name": "Append rows to table",
      "credentials": {
        "microsoftExcelOAuth2Api": {
          "id": "udTn2Ab6Ni2kUnWt",
          "name": "Microsoft Excel OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Append rows to table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "b52e9c8f-02ec-4f4e-b9b6-13a3864e60a2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e97f2674000a25a2c85d7e153c69d0d76331098f0078156935dafcd173bfe2f3"
  },
  "id": "HAdugdWZaLa1UoUN",
  "tags": []
}